extends layout

block content
    .container
        h1 About Us
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pellentesque, leo sed fringilla malesuada, augue elit blandit purus, sed efficitur mi risus vel sem. Pellentesque venenatis nunc quam, sit amet lobortis mi ornare quis. Maecenas dapibus dolor a odio molestie cursus. Etiam mollis in velit id auctor. Nulla sollicitudin ullamcorper consectetur. Sed interdum erat vitae ultrices consectetur. Sed neque quam, lacinia vitae leo vitae, varius mattis nisl.
        p Vivamus ut leo diam. Quisque convallis sem vel nibh vulputate fermentum. Cras at neque blandit, aliquet purus interdum, ultricies libero. Quisque vulputate massa id justo tempus, id viverra orci venenatis. Etiam dapibus, dui at feugiat rutrum, nulla est commodo velit, a ultrices justo lacus a sem. Nam ut blandit massa. Praesent suscipit imperdiet erat, vitae vehicula diam faucibus bibendum. Duis sapien purus, bibendum in venenatis consequat, lobortis eu libero. Nam eget ex quis tellus consequat vulputate.